table{
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  margin-top: 20px;
}

table thead tr th:nth-child(1){
  width: 100px;
}
table thead tr th:nth-child(2){
  width: 130px;
}
table thead tr th:nth-child(3){
  width: auto;
}

table thead tr th:nth-child(4){
  width: 150;
}


